* {
  background-color: #ffc8df;
  font-family: "Poppins";
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  background-color: whitesmoke;
  box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 15px 15px;
  margin: 0;
}

header .logo {
  width: 120px;
  display: flex;
}

li,
a {
  font-weight: 500;
  font-size: 20px;
  color: black;
  background-color: whitesmoke;
  text-decoration: none;
}

.navlink {
  list-style: none;
  background-color: whitesmoke;
}

.navlink li {
  background-color: whitesmoke;
  display: inline-block;
  padding: 0px 20px;
}

.navlink li a {
  background-color: whitesmoke;
  transition: all 0.3s ease 0s;
}

.navlink li i {
  font-size: 50px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navlink li a:hover {
  color: #ec91bd;
}

.home {
  display: flex;
  align-items: center;
  min-height: 83vh;
  background: url(webweb.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.content {
  display: flex;
  background: none;
}

.content .teksdiam {
  margin-left: 30px;
  color: black;
  font-size: 60px;
  background: none;
}

.content .teksjalan {
  margin-left: 20px;
  height: 60px;
  line-height: auto;
  overflow: hidden;
  background: none;
  margin: 0px;
}

.teksjalan li {
  list-style: none;
  color: white;
  font-size: 60px;
  font-weight: 500;
  position: relative;
  top: -12px;
  background: none;
  animation: slide 12s steps(4) infinite;
}

@keyframes slide {
  100% {
    top: -350px;
  }
}

.teksjalan li span {
  position: relative;
  margin: 5px 0;
  line-height: 80px;
  background: none;
}

.teksjalan li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 80px;
  width: 100%;

  background: #a7cc;
  border-left: 5px solid white;
  animation: typing 3s steps(14) infinite;
}

@keyframes typing {
  40%,
  60% {
    left: calc(100% + 30px);
  }

  100% {
    left: 0;
  }
}

.home .content p {
  font-size: 20px;
  font-weight: 500;
  color: #333;
  padding-top: 1px;
  line-height: 1.5;
  background: none;
  text-align: justify;
}

#con {
  float: left;
  width: 75%;
  margin-left: 10px;
}

h2,
h3 {
  color: rgb(100, 100, 100);
  background: none;
}

p {
  text-align: justify;
  margin-right: 80px;
  background: none;
}

aside .profile section {
  float: right;
  width: 300px;
  height: 400px;
  background-color: aqua;
  position: absolute;
  top: 110%;
  right: 35px;
  text-align: center;
}
aside .profile section p {
  margin-right: 0;
}

aside .profile section table p {
  background: none;
}

main {
  padding: 20px;
  overflow: auto;
}

.pporto {
  max-width: 100px;
  position: relative;
  margin: auto;
}

.imgslide {
  display: block;
}

.img {
  vertical-align: middle;
  width: 100%;
  height: 400px;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  color: rgb(255, 254, 224);
  font-weight: bold;
  font-size: 18px;
  transition: 0.5s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.8);
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.pre:hover,
.next:hover {
  background-color: rgba (255, 255, 255, 8);
  color: rgb(0, 0, 0);
}

.text {
  color: #fafafa;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8;
  width: 100%;
  text-align: center;
}

.content-porto .num-slide {
  color: #ffffff;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0 I;
}

@media screen and(max-width: 800px) {
  .content-porto {
    padding: 8 px 50px 12px 50px;
  }

  .next {
    right: 50px;
    border-radius: 3px 0 0 3px;
  }
}

footer {
  text-align: center;
  padding: 2px;
  background-color: white;
  color: black;
}
